syntax on
colorscheme elflord
set nocompatible
" This shows what you are typing as a command.  I love this!
set showcmd
" Needed for Syntax Highlighting and stuff
filetype on
filetype plugin on
syntax enable
" Who doesn't like autoindent?
" Spaces are better than a tab character
set expandtab
set smarttab
" Who wants an 8 character tab?  Not me!
set shiftwidth=3
set softtabstop=3
" Cool tab completion stuff
 set wildmenu
 set wildmode=list:longest,full
" " Got backspace?
 set backspace=2
" line numbers
 set nu
" exclude included files from autocomplete since it takes time to search the
" first time since it must cache the files
set complete-=i
set cursorline
:imap jk <Esc>

" scroll will never go to the bottom 3 and first 3 lines of a file
set scrolloff=3
